## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Current Description,Max Temp,Humidity,Cloudiness,Wind Speed,Country
0,0,Port Alfred,-33.5906,26.8910,overcast clouds,69.80,88,98,18.68,ZA
1,1,Clyde River,70.4692,-68.5914,overcast clouds,-17.86,85,94,5.35,CA
2,2,Concarneau,47.8750,-3.9225,broken clouds,49.05,83,71,11.18,FR
3,3,Punta Arenas,-53.1500,-70.9167,few clouds,62.71,34,20,32.21,CL
4,4,Ushuaia,-54.8000,-68.3000,scattered clouds,64.02,62,40,32.21,AR

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 78
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Current Description,Max Temp,Humidity,Cloudiness,Wind Speed,Country
9,9,Sedhiou,12.7081,-15.5569,overcast clouds,82.09,15,97,6.51,SN
18,18,Port Keats,-14.2500,129.5500,overcast clouds,80.96,80,100,2.66,AU
29,29,Puerto Ayora,-0.7393,-90.3518,overcast clouds,80.56,72,94,9.22,EC
32,32,Koforidua,6.0941,-0.2591,few clouds,82.89,66,21,4.12,GH
38,38,Cabo San Lucas,22.8909,-109.9124,clear sky,83.50,60,0,5.99,MX
45,45,Vaini,-21.2000,-175.2000,scattered clouds,82.56,94,40,11.50,TO
55,55,Carnarvon,-24.8667,113.6333,overcast clouds,80.67,74,100,13.80,AU
57,57,Arraial Do Cabo,-22.9661,-42.0278,scattered clouds,84.16,69,40,9.22,BR
59,59,Butaritari,3.0707,172.7902,scattered clouds,82.09,77,30,15.30,KI
62,62,Bathsheba,13.2167,-59.5167,few clouds,83.01,61,20,17.27,BB

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                132
City                   132
Lat                    132
Lng                    132
Current Description    132
Max Temp               132
Humidity               132
Cloudiness             132
Wind Speed             132
Country                132
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.copy()
clean_df.dropna(how = 'any', inplace = True)
clean_df

,City_ID,City,Lat,Lng,Current Description,Max Temp,Humidity,Cloudiness,Wind Speed,Country
9,9,Sedhiou,12.7081,-15.5569,overcast clouds,82.09,15,97,6.51,SN
18,18,Port Keats,-14.2500,129.5500,overcast clouds,80.96,80,100,2.66,AU
29,29,Puerto Ayora,-0.7393,-90.3518,overcast clouds,80.56,72,94,9.22,EC
32,32,Koforidua,6.0941,-0.2591,few clouds,82.89,66,21,4.12,GH
38,38,Cabo San Lucas,22.8909,-109.9124,clear sky,83.50,60,0,5.99,MX
...,...,...,...,...,...,...,...,...,...,...
651,651,Tamandare,-8.7597,-35.1047,clear sky,79.99,78,9,10.13,BR
659,659,Progreso,21.2833,-89.6667,clear sky,86.11,58,9,10.40,MX
660,660,Jacqueville,5.2052,-4.4146,broken clouds,82.31,81,72,10.18,CI
663,663,Yaan,7.3833,8.5667,few clouds,85.05,23,11,3.83,NG
669,669,Mogadishu,2.0371,45.3438,overcast clouds,78.46,86,89,18.79,SO

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Sedhiou,SN,82.09,overcast clouds,12.7081,-15.5569,
18,Port Keats,AU,80.96,overcast clouds,-14.2500,129.5500,
29,Puerto Ayora,EC,80.56,overcast clouds,-0.7393,-90.3518,
32,Koforidua,GH,82.89,few clouds,6.0941,-0.2591,
38,Cabo San Lucas,MX,83.50,clear sky,22.8909,-109.9124,
45,Vaini,TO,82.56,scattered clouds,-21.2000,-175.2000,
55,Carnarvon,AU,80.67,overcast clouds,-24.8667,113.6333,
57,Arraial Do Cabo,BR,84.16,scattered clouds,-22.9661,-42.0278,
59,Butaritari,KI,82.09,scattered clouds,3.0707,172.7902,
62,Bathsheba,BB,83.01,few clouds,13.2167,-59.5167,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
     # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how='any')
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Sedhiou,SN,82.09,overcast clouds,12.7081,-15.5569,Auberge Cheznous
18,Port Keats,AU,80.96,overcast clouds,-14.2500,129.5500,TDC Village (Hundred Man Camp)
29,Puerto Ayora,EC,80.56,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
32,Koforidua,GH,82.89,few clouds,6.0941,-0.2591,Ajaria Royal Palace Hotel
38,Cabo San Lucas,MX,83.50,clear sky,22.8909,-109.9124,Hotel Tesoro Los Cabos
...,...,...,...,...,...,...,...
651,Tamandare,BR,79.99,clear sky,-8.7597,-35.1047,Pousada 100 Passos
659,Progreso,MX,86.11,clear sky,21.2833,-89.6667,Playa Linda Hotel
660,Jacqueville,CI,82.31,broken clouds,5.2052,-4.4146,Hotel Le Martin Pecheur
663,Yaan,NG,85.05,few clouds,7.3833,8.5667,
669,Mogadishu,SO,78.46,overcast clouds,2.0371,45.3438,Hotel Juba

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "./WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))